.dd-target-button {
  background-color: #ffffff !important;
  background-image: none !important;
  border-radius: var(--border-radius) !important;
  height: 34px !important;
  font-family: inherit !important;


& .dd-target-button-arrow{
    top: calc(50% - 5px);
    float: right !important;
    border-color: transparent transparent transparent var(--secondary-text-color);
    border-style: solid;
    border-width: 5px 0 5px 5px;
    display: block;
    height: 0 !important;
    width: 0 !important;
    position: relative;
    background: none !important;
  right: 3px;

  }
&.dd-button-selected{
   & .dd-target-button-arrow{
       border-color:  var(--secondary-text-color) transparent transparent;
       border-width: 5px 5px 0;
       top: calc(50% - 2px);
       right: 1px;
 }
 }
  & .dd-target-button-arrow, & .dd-target-button-text{
     color: var(--secondary-text-color);
     font-family: var(--font-family);
    font-size: 16px;
  font-weight: normal !important;
  }

& .dd-target-button-text{
    width: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.dd-wrapper{
  border-radius: var(--border-radius) !important;
  font-family: var(--font-family);
  border-color: var(--light-divider-color) !important;
  & .dd-header{
    border-color: var(--light-divider-color) !important;
  background-color: var(--light-divider-color) !important;
  & .dd-search-input{
  border-color: var(--light-divider-color) !important;
&:focus{
  outline-color: var(--button-main-color) !important;
}

}
& .dd-items a{
  border-color: var(--light-divider-color) !important;

}
  & .dd-item-text:focus{
outline-color: var(--button-main-color) !important;
}

}
 & .dd-button-menu {
     border-color: var(--light-divider-color) !important;
& button {
  background-color: var(--button-main-color);
  font-family: var(--font-family);
  font-size: 14px;
  border-radius: var(--border-radius);
  box-shadow: none;
  background-image: none !important;
  &:focus{
    outline-color: var(--button-main-color);
  }
  &:hover{
    background-color: var(--button-hover-color);
   }

}

}
}
