.reportal-checkbox, .reportal-radio, .reportal-select, .reportal-input, .reportal-datepicker{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: var(--reportal-list-margin);
    margin-top:0;

    & > * {
      display: block;
    }

    & > label {
      font-size: inherit;
      color:var(--secondary-text-color);
      padding: 7px 0;
      font-family:inherit;
    }
}
