@import "common-styles.css";

.reportal-select {

  &:before {
    content: " ";
    position: absolute;
    right: 4px;
    bottom: 4px;
    width: 22px;
    height: 26px;
    background-color: #FFF;
  }

  &:after {
    @apply --arrow-down;
    right: 11px;
    bottom: 14px;
  }

  & select {
    background: #FFF;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius,3px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @media screen and (min-width:0\0) {padding: 5px;}
  }
  & select:not([multiple]) {
    padding: 5px 27px 5px 5px;
    height: 34px;

    @media screen and (min-width:0\0) {padding: 5px;}
  }
    & select[multiple] {
    padding: 5px;

    @media screen and (min-width:0\0) {padding: 5px;}
  }
  &.multiple:before, &.multiple:after{display:none}
}
