@import "common-styles.css";

.reportal-select {
  &>span{
    background:#fff;
    position:relative;
    &:after {
      @apply --arrow-down;
      right: 11px;
      bottom: 14px;
      z-index:0;
    }
  }

  & select {
    background: transparent;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius,3px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position:relative;
    z-index:1;

    @media screen and (min-width:0\0) {padding: 5px;}

    &::-ms-expand {
       display: none; /*removes arrow*/
     }
  }
  & select:not([multiple]) {
    padding: 5px 27px 5px 5px;
    height: 34px;
  }
    & select[multiple] {
    padding: 5px;
  }
  &.multiple :before, &.multiple :after{display:none}
}
