.reportal-table{
  width:100%;
  font-size:14px;
  border-collapse:collapse;

  &>thead>tr>td,
  &>thead>tr>th{
      background-color: #f0f2f5;
      border-left: 1px solid #fff;
      font-size:12px;
      line-height:12px;
      padding:8px;
      vertical-align:bottom;
      text-align:left;
      font-weight:normal;
     /* white-space:nowrap;*/

      &:first-child{border-left:0}
  }

  &>tbody>tr:first-child>td{
      padding-top:8px !important;
      height: calc(32px + 8px);
  }

  &.reportal-barchart>thead>tr{
     background-color: #f0f2f5;
     position:relative;
   }
  &.reportal-barchart.reportal-barchart-header>thead>tr:last-child>td:last-child,
  &.reportal-barchart.reportal-barchart-header>thead>tr:last-child>th:last-child{
    /*dirty hack to move content of the header to the left*/
     position:relative;
     left:-59px;
     width:200px;
     border-left:0;
  }
  &.reportal-barchart.reportal-barchart-header>thead>tr:last-child>td:nth-last-child(2),
  &.reportal-barchart.reportal-barchart-header>thead>tr:last-child>th:nth-last-child(2) {
     /*dirty hack to move content of the header to the left*/
    color: transparent !important;
    width:60px !important;
  }
  &.reportal-barchart>tbody>tr>td:nth-last-child(2),
  &.reportal-barchart>tbody>tr>th:nth-last-child(2) {
    text-align:right;
   }

  &>tbody>tr>td {
      padding: 2px 8px;
      min-height:24px;
      line-height:16px;
      vertical-align:middle;
      height:32px;
      border-bottom: 1px solid #f0f2f5;
      white-space:nowrap;

      &.reportal-hierarchical-cell{
        white-space:nowrap;
      }
  }
  &.reportal-barchart>tbody>tr>td:last-child{
    border-bottom:0;
    vertical-align:bottom;
    padding-bottom:0 !important;
    &>.barchart{
        /*the barchart itself*/
        height:24px !important;
       & td{
        border-left:0 !important;
        height:24px !important;
      }
    }
  }
  &.reportal-categories>thead>tr>td.reportal-hierarchical-header{position:relative;}
  &.reportal-categories>thead>tr>td.reportal-hierarchical-header:before{
      /*cpecific class to set header for the first column*/
      content:"Categories";
  }
   &>tbody>tr>td.cf_positive,
   &>tbody>tr>td.cf_negative,
   &>tbody>tr>td.cf_neutral{
      text-align:right;

      &:after{
       content: "";
       display: inline-block;
       margin: 0 0 1px 8px;
       width: 8px;
       height: 8px;
     }
   }
  &>tbody>tr>td.cf_positive:after {
    background: var(--positive-color,#7cc700);
    border-radius: 50%;
  }

  &>tbody>tr>td.cf_neutral:after {
      background: var(--neutral-color,#cdd1d9);
      transform: rotateZ(45deg);
      width: 7px;
      height: 7px;
    }

  &>tbody>tr>td.cf_negative:after {
    background: var(--negative-color,#fd9900);
  }
  & .btn.hierarchy-tree,
  & .btn.hierarchy-flat,
  & .btn.hierarchy-search{
      position: absolute;
      bottom: 0;
      right: 0;
      height: 28px;
      width: auto;
      border: 0;
      background-color: transparent;
      -webkit-appearance: none;
      padding: 0;
      line-height: initial;
      display: block;
      margin: 0 4px;
      vertical-align: middle;
    }
  & .btn.hierarchy-tree{right:34px;}
  & .btn.hierarchy-search{
      width:26px;
      right:64px;
      height:26px;
      margin: 1px 4px;
      border-radius:0;
      left:auto;
      transition:  width,background-color,left,transform,opacity .25s ease-in-out;


      &>input{
        display:none;
        background-color: transparent;
        margin-left:-24px;
        border: 0;
        height: 20px;
        font-size: 12px;
        padding-left: 24px;
        width: 1%;
        vertical-align:top;
        outline: 0;
      }
      &>.clear-button{
         display:none;
         vertical-align: top;
         margin: 0;
         width:24px;
         height:24px;
      }
      &.visible{
         width:auto;
         background-color:#f0f2f5;
         left:0;
         padding: 2px 0;
         border-bottom: 1px solid #ccc;

         & >input{
           display:inline-block;
           width: calc(100% - 24px);
         }
         & > .icon-search{
           pointer-events:none;
           opacity: 1;

         }
         & > .clear-button{
           pointer-events:all;
           display: inline-block;
           transform:rotate(-135deg);
           cursor:pointer;
         }
         &>.icon-search, &>.clear-button{
            top:-1px;
         }

      }
    }
  &>thead td.sortable{
      cursor:pointer;
      &.sorted.asc:after{
        content: var(--icon-arrow-up);
        padding-left:8px;
      }
      &.sorted.desc:after{
        content: var(--icon-arrow-up);
        transform:rotate(180deg);
        padding-right:8px;
      }
      &:after{
        display:inline-block;
        bottom: -3px;
        position: relative;
        color:#424242;
      }
    }
}

/* fixed header table*/
.reportal-table.fixed{
  position:absolute;
  top:0;
  width:auto;
  display:none;
  border:none;
}
.aggregatedTableContainer{
  position: relative;
  width:100%;
  overflow-x: auto;
}

/*Hierarchycal styles*/
.reportal-hierarchy-table tr.level0 {
  font-weight: bold;
}
.reportal-hierarchy-table>tbody>tr>td:first-child:not(.reportal-hierarchical-cell) {
  /*dirty hack for breakdown first column to stay really narrow*/
  width: 50px;
  white-space: normal;
}

.reportal-hierarchy-table .reportal-hierarchical-header{
  padding-right:100px;
}

.reportal-hierarchy-table td.reportal-hierarchical-cell {padding-left:0}

.reportal-hierarchy-table tr.level1>td.reportal-hierarchical-cell {
  padding-left: 20px;
}

.reportal-hierarchy-table tr.level2>td.reportal-hierarchical-cell {
  padding-left: 40px;
}

.reportal-collapse-button {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.reportal-collapsed-row .reportal-collapse-button:before,
.reportal-uncollapsed-row .reportal-collapse-button:before{
  content:'';
  position: absolute;
  border-color: #737B8E transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  display: block;
  height: 0;
  width: 0;
  left:30%;
  top:33%;
  transition: .25s transform ease-in-out;
}

.reportal-collapsed-row .reportal-collapse-button,
.reportal-uncollapsed-row .reportal-collapse-button{
  cursor: pointer;
}

.reportal-collapsed-row .reportal-collapse-button:before{
  transform:rotate(-90deg);
}

.reportal-no-children .reportal-collapse-button:before {
  content:'';
  width: 6px;
  height: 6px;
  border: 1px solid var(--neutral-color, #cdd1d9);
  border-radius: 50%;
  position:absolute;
  top:33%;
  left:30%;
}

.reportal-hidden-row>td{
  display: none;
}

.reportal-heirarchy-flat-view>tbody>tr>td{
  display:table-cell;
  &.reportal-hierarchical-cell{
    padding-left:8px !important;
    &>.reportal-collapse-button{display:none}
  }
}
.reportal-hierarchy-searching>tbody>tr{
  &>td{display:none;}
  &.matched-search:not(.reportal-hidden-row)>td{display:table-cell}
}

