.reportal-table{
  width:100%;
  font-size:14px;
  border-collapse:collapse;

  &>thead>tr>td,
  &>thead>tr>th{
      background-color: #f0f2f5;
      border-left: 1px solid #fff;
      font-size:12px;
      line-height:12px;
      padding:8px;
      vertical-align:bottom;
      text-align:left;
      font-weight:normal;
      white-space:nowrap;

      &:first-child{border-left:0}
  }

  &>tbody>tr:first-child>td{
      padding-top:8px !important;
      height: calc(32px + 8px);
  }

  &.reportal-barchart>thead>tr{
     background-color: #f0f2f5;
     position:relative;
   }
  &.reportal-barchart>thead>tr:last-child>td:last-child,
  &.reportal-barchart>thead>tr:last-child>th:last-child{
    /*dirty hack to move content of the header to the left*/
     position:relative;
     left:-59px;
     width:200px;
     border-left:0;
  }
  &.reportal-barchart>thead>tr:last-child>td:nth-last-child(2),
  &.reportal-barchart>thead>tr:last-child>th:nth-last-child(2) {
     /*dirty hack to move content of the header to the left*/
    color: transparent !important;
    width:60px !important;
  }
  &.reportal-barchart>tbody>tr>td:nth-last-child(2),
  &.reportal-barchart>tbody>tr>th:nth-last-child(2) {
    text-align:right;
   }

  &>tbody>tr>td {
      padding: 2px 8px;
      min-height:24px;
      line-height:16px;
      vertical-align:middle;
      height:32px;
      border-bottom: 1px solid #f0f2f5;
      white-space:nowrap;

      &:first-child{
        white-space:nowrap;
      }
  }
  &.reportal-barchart>tbody>tr>td:last-child{
    border-bottom:0;
    vertical-align:bottom;
    padding-bottom:0 !important;
    &>.barchart{
        /*the barchart itself*/
        height:24px !important;
       & td{
        border-left:0 !important;
        height:24px !important;
      }
    }
  }
  &.reportal-categories>thead>tr>td[class*="_cc"]:before{
      /*cpecific class to set header for the first column*/
      content:"Categories"
  }
   &>tbody>tr>td.cf_positive,
   &>tbody>tr>td.cf_negative,
   &>tbody>tr>td.cf_neutral{
      text-align:right;

      &:after{
       content: "";
       display: inline-block;
       margin: 0 0 1px 8px;
       width: 8px;
       height: 8px;
     }
   }
  &>tbody>tr>td.cf_positive:after {
    background: var(--positive-color,#7cc700);
    border-radius: 50%;
  }

  &>tbody>tr>td.cf_neutral:after {
      background: var(--neutral-color,#cdd1d9);
      transform: rotateZ(45deg);
      width: 7px;
      height: 7px;
    }

  &>tbody>tr>td.cf_negative:after {
    background: var(--negative-color,#fd9900);
  }
}

/* fixed header table*/
.reportal-table.fixed{
  position:absolute;
  top:0;
  width:auto;
  display:none;
  border:none;
}
/*.aggregatedTableContainer{position:relative}*/

/*Hierarchycal styles*/
.reportal-hierarchy-table tr.level0 {
  font-weight: bold;
}

.reportal-hierarchy-table>tbody>tr>td.reportal-hierarchical-cell {padding-left:0}

.reportal-hierarchy-table tr.level1>td.reportal-hierarchical-cell {
  padding-left: 20px;
}

.reportal-hierarchy-table tr.level2>td.reportal-hierarchical-cell {
  padding-left: 40px;
}

.reportal-collapse-button {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.reportal-collapsed-row .reportal-collapse-button:before, .reportal-uncollapsed-row .reportal-collapse-button:before{
  content:'';
  position: absolute;
  border-color: #737B8E transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  display: block;
  height: 0;
  width: 0;
  left:30%;
  top:33%;
  transition: .25s transform ease-in-out;
}

.reportal-collapsed-row .reportal-collapse-button, .reportal-uncollapsed-row .reportal-collapse-button{
  cursor: pointer;
}

.reportal-collapsed-row .reportal-collapse-button:before{
  transform:rotate(-90deg);
}

.reportal-no-children .reportal-collapse-button:before {
  content:'';
  width: 6px;
  height: 6px;
  border: 1px solid var(--neutral-color, #cdd1d9);
  border-radius: 50%;
  position:absolute;
  top:33%;
  left:30%;
}

.reportal-hidden-row{
  display: none;
}

.reportal-heirarchy-flat-view>tbody>tr{
  display:table-row;
  &>td.reportal-hierarchical-cell{
    padding-left:8px !important;
    &>.reportal-collapse-button{display:none}
  }
}
