/* styles for filter-bar which includes a filter button and filter summary + clear button */
.filter-bar{
  @apply --layout-horizontal;
  @apply --layout-wrap;

  margin:16px 24px;

  & .filter-button{
    background-color: var(--text-primary-color);
    fill: var(--dark-primary-color);
    transition: .25s background-color ease-in-out;
    margin-right:8px;

    &>svg{
      background:none;
      opacity:1;
      margin:0;
      vertical-align:middle;
    }
    &:hover,
    &:active,
    &:focus{
      background-color: var(--dark-primary-color);
      fill:var(--text-primary-color);
    }
  }
  & .SelectorHeading,
  & .well-filter-summary{
    height: 30px;
    border-radius: 3px;
    padding: 0 8px;
    vertical-align: top;
    line-height: 30px;
    font-size: 13px;
    cursor: default;
    pointer-events: painted;
  }
  & .well-filter-summary{
    background: var(--secondary-text-color);
    transition: .25s background-color ease-in-out;
    color: var(--text-primary-color);
    &:hover{
      background-color: var(--dark-primary-color);
    }
  }

  & div {
    background: #8F97A2;
    transition: .25s background-color ease-in-out;
    color: #fff;
    margin: 0 5px;
    height: 30px;
    border-radius: 3px;
    padding: 0 8px;
    vertical-align: top;
    line-height: 30px;
    font-size: 13px;
    cursor: default;
    pointer-events: painted;
  }

  & span{
    height: 30px;
    border-radius: 3px;
    padding: 0 8px;
    vertical-align: top;
    line-height: 30px;
    font-size: 13px;
    cursor: default;
    pointer-events: painted;
  }
}
