&.reportal-barchart>thead>tr{
  background-color: var(--light-primary-color,#f0f2f5);
  position:relative;
}
&.reportal-barchart.reportal-barchart-header>thead>tr:last-child>td:last-child,
&.reportal-barchart.reportal-barchart-header>thead>tr:last-child>th:last-child{
  /*dirty hack to move content of the header to the left*/
  position:relative;
  left:-35px;
  width:200px;
  border-left:0;
}
&.reportal-barchart.reportal-barchart-header>thead>tr:last-child>td:nth-last-child(2),
&.reportal-barchart.reportal-barchart-header>thead>tr:last-child>th:nth-last-child(2) {
  /*dirty hack to move content of the header to the left*/
  color: transparent !important;
  width:36px !important;
}
&.reportal-barchart>tbody>tr>td:nth-last-child(2),
&.reportal-barchart>tbody>tr>th:nth-last-child(2) {
  text-align:right;
}
&.reportal-barchart>tbody>tr>td:last-child,
& td>table.barchcart{
  @media all and (min-width: 0px) and (max-width: 740px){
    min-width:100px;width:100px !important;
  }
}
&.reportal-barchart>tbody>tr>td:last-child{
  border-bottom:0;
  vertical-align:bottom;
  padding-bottom:0 !important;
  &>.barchart{
    /*the barchart itself*/
    height:24px !important;
    & td{
      border-left:0 !important;
      border-right: 0 !important;
      height:24px !important;
    }
  }
}
