.kpi-tile {
  width: auto !important; /* overrides `.box` width */
  padding: 8px 16px;
  background: #f0f2f5;
  border-radius:var(--border-radius,3px);

  & .icon {padding-right:8px}
  & .digit {font-size:24px}
}
