*{
  box-sizing:border-box;
  outline-color: var(--dark-accent-color);
}

body, body.reportal-viewmode {
  font-size: 15px;
  line-height: 20px;
  color: var(--primary-text-color);
  background-color: var(--default-primary-color);
  font-family: var(--font-family);
  min-width:initial;
}

.report-filters-horizontal{
  padding:10px 20px;
  background-color: var(--light-primary-color);

  & > * {display:inline-block}
}

a, .link{
  color: var(--default-accent-color) !important;
  &:active,
  &:visited{
    color: var(--default-accent-color);
  }
  &:hover{
    color: var(--dark-accent-color);
  }
}


/* styles for buttons and elements with class `.btn` */
.btn, button {
  @apply --reportal-button;
  &.active, &:active{
    box-shadow: none;
    &>[class^=icon-]{opacity:1;}
  }
  &:hover>[class^=icon-]{opacity:1;}
  &.btn-primary {
     color: var(--text-primary-color);
     background-color: var(--default-accent-color);
     border-color: transparent;
      &:hover,
      &:active,
      &:focus{
         color: var(--text-primary-color);
         background-color: var(--dark-accent-color);
      }
   }
}





