*{box-sizing:border-box}

body, body.reportal-viewmode {
  font-size: 15px;
  line-height: 20px;
  color: #3F454C;
  background-color: #E1E4E9;
  font-family: "Helvetica Neue", Roboto, sans-serif;
  min-width:initial;
}

/** Page Title styles. Page Title must have a `.page-title` class configured in its properties */
.page-title{
  @apply --container;

  background-color: #fff;
  display: block;
  line-height: 60px;
  font-size: 22px;
  font-weight: 500;
}

/** PageArea Title styles. Page Title must have a `.page-title` class configured in its properties */
.pagearea-title {
  padding: 0;
  margin: 0 auto;
  background-color: #fff;
  display: block;
  line-height: 30px;
  font-size: 22px;
  font-weight: 500;
}

.report-filters-horizontal{
  padding:10px 20px;
  background-color: #f0f2f5;

  & > * {display:inline-block}
}

[class^=icon-] {
  fill: #3f3f3f;
  opacity:0.4;
}
[class*=" icon-"], [class^=icon-] {
  display: inline-block;
  line-height: 1;
  pointer-events: none;
  position: relative;
  text-transform: none;
  top: 1px;
  transition: inherit;
}

/* styles for buttons and elements with class `.btn` */
.btn, button {
  -webkit-appearance: button;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  user-select: none;
@apply --transition;
  background-color: transparent;
  height: 30px;
  line-height: 20px;
  position: relative;
  padding: 4px 10px;
  font-size: 14px;
  border-radius: var(--border-radius,3px);
  font-weight: 400;

  &.active, &:active{
    box-shadow: none;
    &>[class^=icon-]{opacity:1;}
  }
  &:hover>[class^=icon-]{opacity:1;}
}

.icon-export{
  width:24px;
  height:24px;
  margin-right:8px;
  vertical-align:bottom;
  background:var(--icon-export);
}
.icon-hierarchy-tree{
  width:24px;
  height:24px;
  background:var(--icon-hierarchy-tree);
  cursor:pointer;
  pointer-events: all;
}
.icon-hierarchy-flat{
  width:24px;
  height:24px;
  background:var(--icon-hierarchy-flat);
  cursor:pointer;
  pointer-events: all;
}
.icon-filter{
  width:20px;
  height:15px;
  margin-right:8px;
  vertical-align:bottom;
  background:var(--icon-filter);
}
.icon-add{
  width:20px;
  height:20px;
  margin-right:8px;
  vertical-align:bottom;
  background:var(--icon-add);
}

/* styles for filter-bar which includes a filter button and filter summary + clear button */
.filter-bar{
  @apply --layout-horizontal;
  @apply --layout-wrap;

  margin:16px 24px;

  & .filter-button{
    background-color: #FFF;
    fill:#3f3f3f;
    transition: .25s background-color ease-in-out;
    margin-right:8px;

    &>svg{
      background:none;
      opacity:1;
      margin:0;
      vertical-align:middle;
    }
    &:hover,
    &:active,
    &:focus{
      background-color: #3f3f3f;
      fill:#FFF;
    }
  }
    & .SelectorHeading,
    & .well-filter-summary{
      height: 30px;
      border-radius: 3px;
      padding: 0 8px;
      vertical-align: top;
      line-height: 30px;
      font-size: 13px;
      cursor: default;
      pointer-events: painted;
    }
    & .well-filter-summary{
      background: #8F97A2;
      transition: .25s background-color ease-in-out;
      color: #fff;
      &:hover{
        background-color: #6a737d
      }
    }
}

/* Legend styles */
.legend {
  position: absolute;
  bottom: 14px;

  & .cf_positive,
  & .cf_negative,
  & .cf_neutral{
    margin-right: 20px;

    &:before{
      content: "";
      display: inline-block;
      margin-right: 5px;
      width: 11px;
      height: 11px;
    }
  }
  & .cf_positive:before {
    background: var(--positive-color,#7cc700);
    border-radius: 50%;
  }
  & .cf_neutral:before {
    background: var(--neutral-color,#cdd1d9);
    transform: rotateZ(45deg);
    width: 10px;
    height: 10px;
  }
  & .cf_negative:before {
    background: var(--negative-color,#fd9900);
  }
}

