.reportal-hitlist-container .hitlist .yui3-datatable-table {
  border: none !important;
  width: 100%;
}

.hitlist-dropdown-button{
  /*styles for filter toggle on hitlist*/
  background: var(--light-primary-color) !important;
  border:0 !important;
  width:50px;
  position:relative;
  padding:4px 10px !important;
  transition:background 0.3s ease-in-out;
  &:after{
     @apply --arrow-down;
      right:10px;
      bottom:11px;
      border-color: var(--dark-primary-color) transparent transparent;
  }

  &:hover{
    background: var(--default-primary-color) !important;
  }

  &>.hitlist-dropdown-arrow{
    width:16px;
    height:12px;
    vertical-align:middle;
    background:var(--icon-filter);
  }
}

.yui-ac-bd>ul>li{
  /*lookup dropdowns in filter select*/
  font-family:var(--font-family) !important;
  font-size:15px !important;
  &.yui-ac-highlight{
    background-color: var(--default-accent-color) !important;
    color: var(--text-primary-color) !important;
  }
}

.hitlist-filter{
  border-color: var(--default-accent-color) !important;
  background: var(--light-accent-color) !important;
  margin:1px 3px !important;
  &>.hitlist-filter-name{font-family:var(--font-family) !important;}
  &>.hitlist-filter-remove{top:3px !important;}
}

.hitlist-dropdown-panel{
  /*styles for opened filter dropdown on hitlist*/
  border-color: var(--divider-color) !important;
  border-radius: var(--border-radius) !important;
  box-shadow: 0 2px 8px var(--light-divider-color) !important;
  background-color: var(--primary-background-color) !important;
  background-image: none !important;
  & .hitlist-filter-item{
    height:auto;
    margin-bottom:8px;
    &>label{
      font-family: var(--font-family) !important;
      font-weight: normal !important;
      color: var(--secondary-text-color) !important;
      font-size:15px !important;
    }
    &>img{
      width: 0;
      height: 0;
      padding: 15px;
      position: relative;
      background: url(/cf_clientutil/images/arrow-collapsed.gif) no-repeat center !important;
      transform: rotate(90deg);
      margin-left: -30px;
    }
    &>input.hitlist-opentext-field,
    &>input.ac,
    &>.hitlist-toggle-field>input.hitlist-filter-text-field,
    &>select{
      @apply --reportal-input;
      height: auto;
      width: 100%;
      background:#fff;
      padding-right:30px;
      font-size:15px;
      font-family: var(--font-family) !important;
    }
    &>select{
      display:block;
      margin-bottom:8px;
    }
    &>.hitlist-toggle-field{
      position:relative;
      &>input.hitlist-filter-text-field{
        display:inline-block;
        width:125px;
        padding-right:25px;
        z-index:0;
        margin:0;
        margin-right:-25px;
      }
      &>img{
          position: relative;
          bottom: 4px;
          filter:grayscale(100%);
      }
      &.val2{
         padding-left:6px;
      }
    }
  }
  & .hitlist-dropdown-panel-buttons{
    &>*{
      background-image:none !important;
      box-shadow:none !important;
      border-radius: var(--border-radius) !important;
      font-family:var(--font-family) !important;
      font-size:15px !important;
    }
    &>.hitlist-dropdown-filter-apply{
       background: var(--default-accent-color) !important;
       color: var(--text-primary-color) !important;
       &:hover{
          background:var(--dark-accent-color) !important;
       }
    }
    &>.hitlist-dropdown-clear{
       background: var(--default-primary-color) !important;
       color: var(--primary-text-color) !important;
       &:hover{
          background:var(--secondary-text-color) !important;
          color:var(--text-primary-color) !important;
       }
    }
    &>.hitlist-dropdown-cancel{
      @apply --reportal-button;
      -webkit-appearance:none;
      background: transparent !important;
      color: var(--primary-text-color) !important;
      border:0 !important;
      &:hover{
         background:var(--default-primary-color) !important;
         text-decoration:none;
      }
    }
  }
}

.reportal-hitlist-container .hitlist td.yui3-datatable-cell {
  width: 90px;
  font-size: 14px;
}

.reportal-hitlist-container .reportal-hitlist-container,
.reportal-hitlist-container .hitlist thead tr th:last-child{
  border-radius: 0 !important;
}

.reportal-hitlist-container td.yui3-datatable-cell.reportal-hitlist-sentiment {
  width: 55px;
}

.reportal-hitlist-container .yui3-datatable-columns,
.reportal-hitlist-container .yui3-datatable-header {
  background-image: none !important;
  background-color: #FFF !important;
  border-top: 1px solid var(--divider-color) !important;
  font-weight: normal !important;
}

.reportal-hitlist-container .yui3-datatable-header {
  font-weight: normal !important;
}

.reportal-hitlist-container .yui3-datatable-header:not(.reportal-hitlist-verbatim):not(.reportal-hitlist-sentiment) {
  min-width: 90px;
  max-width: 90px;
  white-space: normal;
  text-align: center !important;
}

.reportal-hitlist-container .yui3-datatable-cell:not(.reportal-hitlist-verbatim),
.reportal-hitlist-container .yui3-datatable-header:not(.reportal-hitlist-verbatim){
  text-align: center !important;
}

.reportal-hitlist-container .reportal-hitlist-verbatim{
  width: auto;
  min-width: 700px;
}

.reportal-hitlist-container .yui3-datatable-cell,
.reportal-hitlist-container .yui3-datatable-cell:hover {
  background-color: #FFF !important;
  background-image: none !important;
}

.reportal-hitlist-container .reportal-hitlist-satisfaction {
  font-size: 0 !important;
}

.reportal-hitlist-container .yui3-datatable-cell.reportal-hitlist-verbatim {
  padding-bottom: 15px !important;
}


.reportal-hitlist-container .sortable {
  display: inline-flex;
  cursor: pointer;
}

.reportal-hitlist-container .sortable.sorted.desc:after {
  height: 20px;
  width: 20px;
  display: inline-block;
  content: var(--icon-arrow-up);
  transform: rotate(180deg);
  padding-right: 8px;
}
.reportal-hitlist-container .sortable.waiting:after {
  height: 20px;
  width: 20px;
  display: inline-block;
  content: var(--icon-hourglass);
  padding-right: 8px;
}

.reportal-hitlist-container .sortable.sorted.asc:after {
  height: 20px;
  width: 20px;
  display: inline-block;
  content: var(--icon-arrow-up);
  padding-right: 8px;
}

.reportal-hitlist-container .utilityCol,
.reportal-hitlist-container .reportal-hitlist-categories,
.reportal-hitlist-container .hitlist-pagination-count {
  display: none;
}

.reportal-hitlist-container .hitlist-date-info {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: var(--secondary-text-color, #cdd1d9);
}

.reportal-hitlist-container .hitlist-tags-container {
  margin: 10px 0px;
}

.reportal-hitlist-container .hitlist-tags-container .hitlist-tag {
  margin-right: 5px;
  margin-top: 5px;
  padding: 2px 5px;
  border: solid 1px var(--divider-color);
  background-color: var(--primary-background-color);
  font-size: 12px;
  display: inline-block;
}

.reportal-hitlist-container .hitlist-nav-prev.disabled,
.reportal-hitlist-container .hitlist-nav-next.disabled {
  display: none;
  color: var(--disabled-text-color) !important;
}


.hitlist-nav-button,.hitlist-nav-page{
  @apply --reportal-button;
  background-image: none !important;
  -webkit-appearance:none;
  background: var(--default-accent-color) !important;
  color: var(--text-primary-color) !important;
  border:0 !important;
  font-family: var(--font-family) !important;
  font-size:15px!important;
  &:hover{
    background:var(--dark-accent-color) !important;
    text-decoration:none;
  }
}


