.reportal-hitlist-container .hitlist .yui3-datatable-table {
  border: none !important;

  width: 100%;
}

.reportal-hitlist-container .hitlist td.yui3-datatable-cell {
  width: 90px;
  font-size: 14px;
}

.reportal-hitlist-container .reportal-hitlist-container,.reportal-hitlist-container .hitlist thead tr th:last-child{
  border-radius: 0px !important;
}

.reportal-hitlist-container td.yui3-datatable-cell.reportal-hitlist-sentiment {
  width: 55px;
}

.reportal-hitlist-container .yui3-datatable-columns,  .reportal-hitlist-container .yui3-datatable-header {
  background-image: none !important;
  background-color: #FFF !important;
  border-top: 1px solid #dfdfdf !important;
  font-weight: normal !important;
}

.reportal-hitlist-container .yui3-datatable-header {
  font-weight: normal !important;
}

.reportal-hitlist-container .yui3-datatable-header:not(.reportal-hitlist-verbatim):not(.reportal-hitlist-sentiment) {
  min-width: 90px;
  max-width: 90px;
  white-space: normal;
  text-align: center !important;
}

.reportal-hitlist-container .yui3-datatable-cell:not(.reportal-hitlist-verbatim), .reportal-hitlist-container .yui3-datatable-header:not(.reportal-hitlist-verbatim){
  text-align: center !important;
}

.reportal-hitlist-container .reportal-hitlist-verbatim{
  width: auto;
  min-width: 700px;
}

.reportal-hitlist-container .yui3-datatable-cell,.reportal-hitlist-container .yui3-datatable-cell:hover {
  background-color: #FFF !important;
  background-image: none !important;
}

.reportal-hitlist-container .reportal-hitlist-satisfaction {
  font-size: 0 !important;
}

.reportal-hitlist-container .yui3-datatable-cell.reportal-hitlist-verbatim {
  padding-bottom: 15px !important;
}


.reportal-hitlist-container .sortable {
  display: inline-flex;
  cursor: pointer;
}

.reportal-hitlist-container .sortable.sorted.desc:after {
  height: 20px;
  width: 20px;
  display: inline-block;
  content: var(--icon-arrow-up);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-right: 8px;
}
.reportal-hitlist-container .sortable.waiting:after {
  height: 20px;
  width: 20px;
  display: inline-block;
  content: var(--icon-hourglass);
  padding-right: 8px;
}

.reportal-hitlist-container .sortable.sorted.asc:after {
  height: 20px;
  width: 20px;
  display: inline-block;
  content: var(--icon-arrow-up);
  padding-right: 8px;
}

.reportal-hitlist-container .utilityCol, .reportal-hitlist-container .reportal-hitlist-categories, .reportal-hitlist-container .hitlist-pagination-count {
  display: none;
}

.reportal-hitlist-container .hitlist-date-info {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: var(--neutral-color, #cdd1d9);
}

.reportal-hitlist-container .hitlist-tags-container {
  margin: 10px 0px;
}

.reportal-hitlist-container .hitlist-tags-container .hitlist-tag {
  margin-right: 5px;
  margin-top: 5px;
  padding: 2px 5px;
  border: solid 1px #ccc;
  background-color: #f1f1f1;
  font-size: 12px;
  display: inline-block;
}

.reportal-hitlist-container .hitlist-nav-prev.disabled, .reportal-hitlist-container .hitlist-nav-next.disabled {
  display: none;
  color: #AAA !important;
}

.reportal-hitlist-container .hitlist-nav-prev, .reportal-hitlist-container .hitlist-nav-next, .reportal-hitlist-container .hitlist-nav-page,.reportal-hitlist-container .hitlist-nav-prev:hover, .reportal-hitlist-container .hitlist-nav-next:hover, .reportal-hitlist-container .hitlist-nav-page:hover{
  border: none !important;
  background-image: none !important;
  background-color: #FFF !important;
  font-size: 14px;
  color: #00A9F5;
}




