body:not(.masked)>#wait_c {left:0 !important}
.yui-skin-sam{
&>.mask{
    background-color:#FFF !important;
    opacity:.85 !important;
    height: auto !important;
    width: auto !important;
    position:fixed !important;
  }
&>.yui-panel-container>.yui-panel{
    border:0;
    width:100px !important;
&>.bd {
    left:50px !important;
&,
&:before,
&:after{
   content:' ';
   position:absolute;
   border-radius:50%;
   width:16px;
   height:16px;
   background-color:transparent;
   display:block;
   left:32px;
   -webkit-animation: pulse .9s alternate ease-in-out infinite;
   animation: pulse .9s alternate ease-in-out infinite;
   animation-delay:.3s;
   padding:0;
   margin:0;
   border:0;
 }

&>img{display:none}
&:before{left:-32px;animation-delay:0s;}
&:after{animation-delay:.6s;}
}
&>.hd {
    font-family:inherit !important;
    font-weight:normal;
    display:none
  }
& + .underlay{display:none !important}
}
}

@keyframes pulse {
  from {
    background-color:var(--light-primary-color);
  }
  to {
    background-color:var(--primary-text-color);
  }
}

@-webkit-keyframes pulse {
  from {
    background-color:var(--light-primary-color);
  }
  to {
    background-color:var(--primary-text-color);
  }
}
