:root{--reportal-checkbox-padding:8px}

.reportal-checkbox, .reportal-radio{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: var(--reportal-dropdown-padding);
  padding-top:0;

  & > * {
    display: block;
  }

  & > label {
    font-size: inherit;
    color:inherit;
    padding: 7px 0;
    font-family:inherit;
  }
}

[type=radio],[type=checkbox]{
  position: absolute;
  left: -9999px;

  & + label {
    position:relative;
    padding-left:24px
  }
&:not(:checked) + label:after {
   opacity: 0;
   transform: scale(0);
 }
&:checked + label:after {
   opacity: 1;
   transform: scale(1);
 }
& + label:after{transition: all .2s;}
&:checked:focus + label:before,
&:not(:checked):focus + label:before{
   /* accessibility */
   border: 1px solid #737B8E;
 }

&:disabled:not(:checked) + label:before,
&:disabled:checked + label:before {
   /* disabled control */
   box-shadow: none;
   border-color: #bbb;
   background-color: #ddd;
 }
&:disabled:checked + label:after {
   color: #999;
 }
&:disabled + label {
   color: #aaa;
 }
}

[type="checkbox"]{
  & + label {
    &:before{
       /* checkbox aspect */
       content: '';
       position: absolute;
       left:1px; top: 2px;
       width: 14px; height: 14px;
       border: 1px solid #aaa;
       background: #FFF;
    }
    &:after{
       /* checked mark aspect */
       content: '✔';
       position: absolute;
       top: -2px; left: 3px;
       font-size: 20px;
       line-height: 0.8;
       color: #737B8E;
       transition: all .2s;
    }
  }
}

[type=radio] {

  & + label {

    &:before, &:after{
      content: "";
      position: absolute;
      border-radius: 50%;
    }
    &:before{
       background: #FFF;
       display: inline-block;
       width: 15px;
       height: 15px;
       margin-right: 10px;
       left: 0;
       bottom: 0;
       border: 1px solid #aaa;
    }
    &:after{
        width:9px;
        height:9px;
        left:4px;
        bottom:4px;
        background-color:#737B8E;
    }
  }
}

