/*Viewer presentation styles*/
.vp-collapsible{
  border-radius: var(--border-radius,3px);
  text-align:left;

  & .vp-header{
      border-radius: var(--border-radius,3px) var(--border-radius,3px) 0 0 !important;
      background-image: none !important;
      background-color:#ededed !importnat;

      &:hover{background:#ededed !important;}
      &>h3,
      &>.vp-toggle,
      &>.vp-menu-addpresentation,
      &>.vp-show-export{
        float:initial;
        display:inline-block;
      }

      &>h3{
        width:auto !important;
        padding-right:12px;
      }

      & .vp-toggle{
        min-height: 19px;
      }
      & .vp-show-export,
      & .vp-menu-addpresentation{
         width:20px;
         height:20px;
         margin-top:0;
         opacity:0.6;
         @apply --transition;
      }
      & .vp-show-export{
          /*export-icon*/
          background:var(--icon-export);
          vertical-align:sub;
          &:hover{
             background:var(--icon-export);
             opacity:1;
          }
      }
      & .vp-menu-addpresentation{
        /*add icon*/
        background:var(--icon-add);
        margin:0 8px 0 0 !important;
        vertical-align:text-bottom;

        &:hover{
         background:var(--icon-add);
         opacity:1;
        }
      }
  }

  &.vp-collapsed .vp-header{
    border-radius: var(--border-radius,3px) !important;

    & > .vp-menu-addpresentation,
    &>.vp-show-export{
        display:none
      }
  }
  & .vp-header:hover{background:none;}
  & .vp-container{
     border-radius: 0 0  var(--border-radius,3px) var(--border-radius,3px) !important;
  }
}
