.layout-wrapper{
  background-color:#FFFFFF;
  padding:8px;
  height: 100%;
  min-height: 320px;
  margin: 8px 15%;
  width: 70%;

 @media screen and (max-width:1024px){
   margin: 8px;
   padding:4px;
   overflow:hidden;
   width: calc(100% - 16px);
 }
 @media screen and (max-width:768px){
   margin: 0;
   padding:4px;
   overflow:hidden;
   width: 100%;
 }

  & .box{
    width: calc(100% - 16px);
    padding: 8px;
    font-family:inherit;
    min-width:312px; /*calculated based on available space for viewport in iPhone4, 320px wide*/
    @media screen and (max-width:1024px){
      padding: 4px;
      width: calc(100% - 8px);
    }
    @media screen and (max-width:440px){
      min-width: calc(100% - 8px) !important;
    }

    &>.heading{
      font-size:18px;
      display:block;
      padding: 8px 0;
      @media screen and (max-width:1024px){
        padding: 4px 0;
      }

      }
  }
}

.flex.box.two-column{
  width: auto;
  min-width: 50%;
  -ms-flex: auto;
  -webkit-flex: auto;
  flex:auto;

}

.flex.box.two-column table{
  overflow: scroll
}
